/* styles.css */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {

    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;


  }
  
  .close-button {
    position: relative;
    right: 299;
    background: none;
    border: none;
    cursor: pointer;
    color: #f15e00;
    font-size: 20px;
  }
  